<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" thread-count="2" name="C:/Projects/PageObjectModel" parallel="classes">
        <classes>
            <class name="com.pan.tests.OrangeHRMTests"></class>
            <class name="com.pan.tests.QAClickAcademyTests"></class>
        </classes>
    </test>
</suite>